.shiny-text {
    color: #b5b5b5a4;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}
@keyframes shine {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}
.shiny-text.disabled {
    animation: none;
}
[data-theme='light'] .shiny-text {
    color: transparent;
    background: linear-gradient(120deg,
            rgba(0, 0, 0, 1) 40%,
            rgba(120, 120, 120, 1) 50%,
            rgba(0, 0, 0, 1) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 5s linear infinite;
    display: inline-block;
} 
